{% extends "bootstrap/base.html" %}

{% block title %}
QUIZ :)
{% endblock %}

{% block styles %}
{{super()}}

<!--參考出自https://www.youtube.com/watch?v=C7NsIRhoWuE&ab_channel=KevinBriggs-->
<link rel="stylesheet" href="{{url_for('.static', filename='css/starter-template.css')}}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/video_b2.css') }}">

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/videoAndCaption_botton.js') }}"></script>
<script src="{{ url_for('static', filename='js/quiz_main.js') }}"></script>
{% endblock %}


{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">國中英語口說評測</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">首頁</a></li>
                <li><a href="#">當前使用者: {{ name }}</a></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
    </div>
</nav>


<h1>歡迎光臨 {{ name }}，請逐一按下字幕按鈕，練習對話。</h1>


<div id="quiz" name="quiz">
    <div>
        <div class="allVideo">
            <video controls id="video" poster="">
                <source src="{{ url_for('static', filename='video/KHB3L1.mp4') }}" type="video/mp4" />
                <source src="" type="video/webm" />
                <source src="" type="video/ogg" />
                <source src="" type="video/3gp" />
                <!--<track  default src="./video/KHB3L1.srt" kind="subtitle" srclang="en-US" label="English" /> -->

                <track default src="{{ url_for('static', filename='video/KHB3L1.vtt') }}" kind="captions" srclang="en"
                    label="English Captions" />

                <p><a href="" download>Download the Video</a></p>
            </video><br />

            <!--<button id="btnPlay" class="control">Play</button><br/>
        <button id="btnPaws" class="control">Pause</button><br/>
        <button id="btnStop" class="control">Stop</button><br/>
        <button id="btnRew" class="control">Rewind</button><br/>
        <button id="btnFF" class="control">Fast-to</button><br/>-->
        </div>



    </div>

    <input id="button" type="button" value="I'm finished!" onclick="javascript:location.href='./video_quiz'">
</div>

<div id="before_submit">
    <div class="caption">
        <!--target="_blank" 另開視窗 -->
        <button id="btn1" class="control">00:03</button><br /><a href="https://reurl.cc/OkNzGv" target="_blank"
            title="嗨" class="sub-word">Hey</a><a>,</a><a title="瑞塔(女生名)" class="sub-word">Rita</a><a>.</a><br />
        <button id="btn2" class="control">00:04</button><br /><a class="sub-word">I just checked your
            Instagram.</a><br />
        <button id="btn3" class="control">00:07</button><br /><a class="sub-word">Did you go to Taitung this summer
            vacation?</a><br />
        <button id="btn4" class="control">00:10</button><br /><a class="sub-word">Yes, I did.</a><br />
        <button id="btn5" class="control">00:12</button><br /><a class="sub-word">My family and I visited my uncle
            there.</a><br />
        <button id="btn6" class="control">00:16</button><br /><a class="sub-word">Cool!</a><br />
        <button id="btn7" class="control">00:17</button><br /><a class="sub-word">Did you go to the beach?</a><br />
        <button id="btn8" class="control">00:19</button><br /><a class="sub-word">Yes, we did.</a><br />
        <button id="btn9" class="control">00:20</button><br /><a class="sub-word">The water there was blue and
            clean.</a><br />
        <button id="btn10" class="control">00:24</button><br /><a class="sub-word">We went to the beach almost every
            day.</a><br />
        <button id="btn11" class="control">00:27</button><br /><a class="sub-word">What else did you do there?</a><br />
        <button id="btn12" class="control">00:30</button><br /><a class="sub-word">We went to a hot air balloon
            festival.</a><br />
        <button id="btn13" class="control">00:33</button><br /><a class="sub-word">It was fun.</a><br />
        <button id="btn14" class="control">00:35</button><br /><a class="sub-word">Nice.</a><br />
        <button id="btn15" class="control">00:37</button><br /><a class="sub-word">What about you?</a><br />
        <button id="btn16" class="control">00:38</button><br /><a class="sub-word">Did you enjoy your
            vacation?</a><br />
        <button id="btn17" class="control">00:40</button><br /><a class="sub-word">Yes.</a><br />
        <button id="btn18" class="control">00:41</button><br /><a class="sub-word">I went to Lukang and enjoyed my stay
            there.</a><br />
        <button id="btn19" class="control">00:45</button><br /><a class="sub-word">Lukang?</a><br />
        <button id="btn20" class="control">00:47</button><br /><a class="sub-word">What did you do there?</a><br />
        <button id="btn21" class="control">00:49</button><br /><a class="sub-word">I joined a summer camp and learned
            about the history of the town.</a><br />
        <button id="btn22" class="control">00:53</button><br /><a class="sub-word">I shared old stories about the town
            with visitors at the temples.</a><br />
        <button id="btn23" class="control">00:58</button><br /><a class="sub-word">You told stories about the
            town?</a><br />
        <button id="btn24" class="control">01:01</button><br /><a class="sub-word">That’s really interesting.</a><br />
    </div>
</div>

<div id="testPro">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <div class="container" id="ttscont">
        <div class="button-container">
            <button id="buttonhear" class="h-button">
                <span class="fas fa-headphones"></span>Learn Pronunciation</button>
        </div> 

        <div id="ttsList"></div>
        <div class="container" id="ttsloader">
            <div id="loader"></div>
        </div> 
    </div>

    <div class=container id="formcontainer">
        <form id="reftextform">
            <textarea id = "reftext" rows = "3" cols = "80" name = "reftext" maxlength="160" autofocus placeholder="Enter Reference Text here..."></textarea>
        </form>
        <br>
    </div>

    <div class="button-container">
        <button id="randomtt" class="blue-button">
            <span class="fa fa-random"></span>Get Tongue Twister</button>
        <button id="buttonmic" class="green-button">
            <span class="fa fa-microphone"></span>Record</button>
    </div>

    <div class="container" id="recordcont">
        <div id="recordingsList"></div>

        <div class="container" id="recordloader">
            <div id="loader"></div>
        </div>
        
        <div id="metrics" class="animate-bottom">
            <div class=container>
                <div id="summarytable">
                    <table>
                        <tr>
                            <th>Accuracy Score</th>
                            <th>Fluency Score</th>
                            <th>Completeness Score</th>
                            <th>Pronunciation Score</th>
                            <th id="woh">Words Omitted</th>
                            <th id="wih">Extra Words Spoken</th>
                        </tr>
                        <tr>
                            <td id="accuracyscore"></td>
                            <td id="fluencyscore"></td>
                            <td id="completenessscore"></td>
                            <td id="pronscore"></td>
                            <td id="wordsomitted"></td>
                            <td id="wordsinserted"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="container">
                <div id="detailedtable">
                    <table>
                        <tr id="wordrow"></tr>
                        <tr id ="phonemerow"></tr>
                        <tr id ="scorerow"></tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
    
    <footer id=footeralert>Please allow the use of your microphone.</footer>
    
    <script src="../static/js/index.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

</div>

{% endblock %}